 <section class="vbox">
    <section>
      <section class="hbox stretch">
        <section id="content">
          <section class="vbox">
            <section class="scrollable padder">
              <div class="m-b-md">
                <h3 class="m-b-none"></h3>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                  <section class="panel panel-default">
                    <header class="panel-heading font-bold">Student Details Form</header>
                    <div class="panel-body">
                       {{student-details-form  student=model updateStudent="updateStudent" currentRoute="editStudent"}}
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>
  </section>
